* {
  margin: 0px;
  padding: 0px;
  font-family: Arial, Helvetica, sans-serif;
}

#cabecalho {
  position: fixed;
  color: white;
  background-color: rgb(0, 170, 28);
  font-size: 15px;
  width: 100%;
}

#titulo {
  margin-top: 25px;
}

#navbar li {
  display: inline-block;
  margin: 15px;
  color: rgb(67, 67, 255);
}

#minha_foto {
  margin-top: 150px;
  margin-left: 25px;
  margin-bottom: 25px;
}

#linkedin {
  margin-left: 25px;
  margin-bottom: 25px;
}

#licoes_a_aprender {
  display: inline-block;
  margin-left: 25px;
  margin-bottom: 25px;
}

#section ol {
  display: inline-block;
  margin-left: 100px;
  margin-bottom: 25px;
}

.lado-esquerdo {
  display: inline-block;
  width: 250px;
  margin-left: 25px;
  margin-bottom: 25px;
}

.lado-direito {
  display: inline-block;
  width: 250px;
  margin-left: 25px;
  margin-bottom: 25px;
}

#rodape {
  color: white;
  margin-bottom: 0px;
  margin-top: 25px;
  padding: 14px;
  background-color: rgb(0, 170, 28);
  text-align: center;
}